/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css clearfix */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@charset "utf-8";

body{
	background-image: url(../img/geometric-leaves.png);
}

/*header start*/
#header{
	background:green;
	width: 100%;
	float: top;

}

#logo{
	float: left;
	margin: 10px;
}

#title-head{
	font-size: 40px;
	padding: 40px;
	height: 75px;

}

/*main navigation start*/
.main-nav{
	text-align: center;
}

li{
	
	float: left;
	width: 15.5%;
	height:2%;
	padding:2%;
	margin: 2.5%;
	background: blue;
	
}
/*main navigation end*/
/*header end*/

/*main content start*/
/*main article start*/
.medi-title{
	padding: 10px;
	font-size: 20px;
}

#article1{
	float: left;
	max-width: 632px;
	min-width: 286px;
	background: yellow;
	padding: 10px;
}
/*main article end*/

/*aside start*/
aside{
	float: left;
	width: 268px;
	padding: 10px;
	background: orange;
}



/*article 2 start*/
#aside-jpg-container{
	width: 100%;
}
/*pictures start*/
.small-title{
	padding-bottom: 10px;
	font-size: 16px;

}

#article2-container{
	width: 100%;
}

.article2-jpg{
	float: left;
	margin: 2%;
}

#cat2-container{
	position: relative;
	left: 20%;
}

#cat3-container{
	float: right;
}

figcaption{
	text-align: center;
}
/*pictures end*/

.text{
	margin: 5px;
}

.f-nav-icon{
	float: right;
	padding: 5px;
}

#footer{
	background: purple;
	width: 100%;

}

#copyright{
	text-align: left;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
}